.text_nav{
    color:white;
    font-family: "Montserrat Medium";
}
.button_from_nav{
    height: 100%;
}
.our_plus{
    font-family: "Montserrat Bold";
    color: black;
    font-size: calc(0.5rem + 1.8vw);
    text-align: center;
}
.we_are{
    color: #999999;
    font-family: "Montserrat Regular";
    font-size: calc(0.5rem + 0.7vw);
    text-align: center;
}
.img_benefit{
    max-width: 100%;
}
.div_we_are{
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_1{
    font-size:2.8vw;
    color: white;
    font-family: "Montserrat ExtraBold";
    text-align: center;
    margin: 0;
    padding-top: 4vw;
}
.text_2{
    font-size:1.2vw;
    color: white;
    font-family: "Montserrat Black";
    text-align: center;
    margin: 0;
}
.card_text{
    color: white;
    font-family: "Montserrat Medium";
    font-size:1.2vw;
    text-align: center;
}
.card_text_title{
    color: white;
    font-family: "Montserrat Black";
    font-size:1.5vw;
    text-align: center;
}
.dropdown_card_text{
    color: white;
    font-family: Roboto;
}
.dropdown_card{
    text-align: center;
}
.container_dir_cource{
    background: linear-gradient(to right, #4844DE, #5F12D0)
}
.dir_cource {
    font-family: "Montserrat SemiBold";
    font-size:2.5vw;
    text-align: center;
    color: white;
}
.e_mail{
    font-family: "Montserrat SemiBold";
}
img{
    max-width: 100%;
}
.ch_dir{
    font-family: "Montserrat Medium";
    font-size: 1vw;
    border-radius: 50px;
}
.button_ch_dir{
    display: flex;
    justify-content: center;
    padding-bottom: 4vw;
    padding-top: 1vw;
}
.card_with_dir{
    width: 22vw;
    height: 22vw;
}

@font-face {
    font-family: "Montserrat ExtraBold";
    src: url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat Black";
    src: url("../fonts/Montserrat-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat Medium";
    src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat SemiBold";
    src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat Bold";
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat Regular";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}